.sidebar-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: none;
}

.sidebar-card .card-header {
    background-color: #f8f9fa;
    border-bottom: none;
}

.sidebar-card .list-group-item {
    color: #495057;
}
