.sidebar-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: none;
}

.sidebar-card .card-header {
    background-color: #f8f9fa;
    border-bottom: none;
}

.sidebar-card .list-group-item {
    color: #495057;
}

/* Dark mode styles */
.sidebar-card.bg-dark.navbar-dark {
    background-color: #343a40;
    color: rgb(195, 135, 233)
}

.sidebar-card.bg-dark.navbar-dark .card-header {
    background-color: #343a40;
    color: rgb(163, 101, 202)
}

.sidebar-card.bg-dark.navbar-dark .list-group-item {
    background-color: #343a40;
    color: rgb(195, 135, 233)
}